<a href="https://colab.research.google.com/github/EnuhBlaise/Python-and-R-Programming-course/blob/master/Python_Sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Definition 

A set is a collection which is unordered, unchangeable, and unindexed.

The major advantage of using a set, as opposed to a list, is that it has a highly optimized method for checking whether a specific element is contained in the set. This is based on a data structure known as a hash table. Since sets are unordered, we cannot access items using indexes like we do in lists.

#Uses
Basic uses include membership testing and eliminating duplicate entries.

The Python sets are highly useful to efficiently remove duplicate values from a collection like a list and to perform common math operations like unions and intersections.

#Initializing sets

In [9]:
#examples 

#Initializing a set

S = {1,2,3} 
S, type(S)

({1, 2, 3}, set)

In [8]:
S1 = set([1, 2, 3])
S1 , type(S)

({1, 2, 3}, set)

In [12]:
S = {2, 3, 4, 3, 2, 3, 2, 5} # sets do not store duplicate values.
S

{2, 3, 4, 5}

#Adding and Updating elements

In [13]:
S.add(10)
S

{2, 3, 4, 5, 10}

In [15]:
S.update([5, 3, 2, 7, 8]) #adding multiple elements in the set in an iterable manner. NB: Duplicate elements are also removed
S

{2, 3, 4, 5, 7, 8, 10}

#Removing and Discarding

In [16]:
S.remove(3) #will raise an error in the absence of the element
S

{2, 4, 5, 7, 8, 10}

In [18]:
S.discard(5) #will not raise an error in the absence of the element
S

{2, 4, 7, 8, 10}

#Unions and Intersections

In [20]:
S2 = S1.union(S)
S2

{1, 2, 3, 4, 7, 8, 10}

In [22]:
S3 = S1.intersection(S2)
S3

{1, 2, 3}

In [24]:
#another method for intersections
S1 & S2

{1, 2, 3}

#Difference and Symmetric Difference

In [27]:
#returns only elements that are unique to the first set
S4 = S2.difference(S1)
S4

{4, 7, 8, 10}

In [31]:
#returns all elements that are not common between both sets
S5 = S2.difference(S1)
S5

{4, 7, 8, 10}