<a href="https://colab.research.google.com/github/EnuhBlaise/Python-and-R-Programming-course/blob/master/Python_tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Definition
 A tuple is a collection which is ordered and unchangeable.
#Uses

When your data should or does not need to be changed.

Tuples are faster than lists. We should use a Tuple instead of a List if we are defining a constant set of values and all we are ever going to do with it is iterate through it.
When we need an array of elements to be used as dictionary keys, we can use Tuples.

#Creating Tuples

In [4]:
#initialize tuples with()
T = (1, 2, 3, 4, 5, 6, 7, 8, 9)
T

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [11]:
T1 = 3,6,7,9, #when writing elements seperated with just commas, a tuple is automatically created, Also known as tuple packing
T1
#type(T1)

tuple

In [13]:
#random elements
T2 = "AGC", (4, 7), 9.1, ["a", 7]
T2 
#T2[3]

['a', 7]

In [15]:
#Using the tuple() method
T3 = tuple(["a", 4])
T3

('a', 4)

#Indexing

In [5]:
T[2]

3

In [7]:
T[2:5]

(3, 4, 5)

In [ ]:
#Cannot use indexing to assign to a tuple because they are immutable
T[0] = 3

In [20]:
#Further indexing options

#print(T[2:])
#print(T[:2]) 
#print(T[-3:]) 
#print(T[:-3]) 
#print(T[1:4])

(2, 3, 4)

#Concatenating Tuples

In [21]:
T3 = T + T2 
T3

(1, 2, 3, 4, 5, 6, 7, 8, 9, 'AGC', (4, 7), 9.1, ['a', 7])

#Immutability

In [ ]:
#Error is raised because of immutability
T[0] = 100 
del T[0]

#Looping through tuples

In [22]:
for integer in T:
  print(integer)

1
2
3
4
5
6
7
8
9

#Checking the presence of an element

In [24]:
T = 1, 2, 3,
#print(1 in T)
#print(5 in T)

False

#Packing and Unpacking

In [25]:
#Packing
T = 1, 2, 3,
T

(1, 2, 3)

In [28]:
#Unpacking  NB: Must have same number of elements as the variables to be assigned
a, b, c = T
a

1

In [31]:
#Discuss this more in lists. 
#How to loop over multiple lists

Item = ['bread', 'chair', 'beans', 'pen']
cost = [100, 50, 80, 40]

for element, price in zip(Item, cost):
    print(f'The {element} costs ${price}')

The bread costs $100
The chair costs $50
The beans costs $80
The pen costs $40